# Build artifacts
dist/

# local files
local/
*.local

# IDE and editor files
.vscode/
.idea/

# Logs and temporary files
logs/
*.log
*.tmp
*.cache
*.bak

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (optional, use if not using Go modules)
# vendor/
